.form-container {
  max-width: 500px;
  margin: 0 auto;
}

nz-form-item {
  margin-bottom: 24px;
}

button[nz-button] {
  font-weight: 500;
}

button[nz-button].ml-3 {
  margin-left: 16px;
}

.inline-explain {
  display: inline-block;
}
