<button nz-button (click)="addRow()" nzType="primary">Add</button>
<br />
<br />
<nz-table [nzData]="listOfData">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of displayData">
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.address | truncate }}</td>
      <td>
        <button nz-button nzType="link" (click)="editRow(data)"><i nz-icon nzType="edit"></i>Edit</button>
        <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-pagination
  [(nzPageIndex)]="pageIndex"
  [nzPageSize]="pageSize"
  [nzTotal]="listOfData.length"
  (nzPageIndexChange)="pageIndexChanged()"
>
</nz-pagination>
